<Template name="sidebar">

    <!-- Create a backing surface for the menubar. Can be used for displaying background images under
         the menu, and other things. If you look at the style sheet you will see we use it to create
         a rectangle with rounded corners and border to act as a container for our menu items. Notice
         it uses a z-index of -2 which places it under the menu items that use a z-index of -1. Also
         notice that all components specify an X size of 'undefined'. The width of the sidebar is
         defined later when we actually render it.That way we can change the size of the whole sidebar
         dynamically if needed.
    -->
    {{#Surface id = "mb" size="[undefined,undefined]" class="sidebarback" translate="[0,0,-2]"}} {{/Surface}}

    <!-- Create our 5 menu items. Note that only the first 3 will render new templates when tapped. Look
         close at the 'class' parameter for each item. We are playing a little trick here. We need to be
         able to know which template to render when a button is pressed. We can query the classlist of
         the button that creates the tap event so we can take advantage of that to 'pass' information back
         to our code and not have to write a bunch of jQuery. Just a little trick!

         The content for each surface is an image located in the <em>public</em> folder.
    -->

    {{#Surface id="m1" origin="[0,0]" align="[0,0]" size="[undefined,90]" translate="[0,0,-1]"
    class="sidebar m1 design"}}
    <img src="ce.png" width="190px">
    {{/Surface}}

    {{#Surface id = "m2" origin="[0,0]" align="[0,0.2]" translate="[0,0,-1]" size="[undefined,90]"
    class="sidebar m2 dribble" }}
    <img src="we.png" width="190px">
    {{/Surface}}

    {{#Surface id = "m3" origin="[0,0]" align="[0,0.4]" translate="[0,0,-1]" size="[undefined,90]"
    class="sidebar m3 chat"}}
    <img src="ct.png" width="190px">
    {{/Surface}}

    {{#Surface id = "m4" origin="[0,0]" align="[0,0.6]" translate="[0,0,-1]" size="[undefined,90]"
    class="sidebar m4"}}
    <img src="sm.png" width="190px">
    {{/Surface}}

    {{#Surface id = "m5" origin="[0,0]" align="[0,0.8]" translate="[0,0,-1]" size="[undefined,90]"
    class="sidebar m5"}}
    <img src="et.png" width="190px">
    {{/Surface}}


</Template>