<Template name="sidebar">


{{#Surface id = "mb" size="[undefined,undefined]" class="sidebarback" translate="[0,0,-2]"}} {{/Surface}}

{{#Surface id="m1" origin="[0,0]" align="[0,0]" size="[undefined,90]" translate="[0,0,-1]" class="sidebar m1 design"}}
<img src="design.png" width="190px">
{{/Surface}}

{{#Surface id = "m2" origin="[0,0]" align="[0,0.2]" translate="[0,0,-1]" size="[undefined,90]" class="sidebar m2 dribble" }}
<img src="dribble.png" width="190px">
{{/Surface}}

{{#Surface id = "m3" origin="[0,0]" align="[0,0.4]" translate="[0,0,-1]" size="[undefined,90]" class="sidebar m3 chat"}}
<img src="chat.png" width="190px">
{{/Surface}}

{{#Surface id = "m4" origin="[0,0]" align="[0,0.6]" translate="[0,0,-1]" size="[undefined,90]" class="sidebar m4"}}
<img src="reddit.png" width="190px">
{{/Surface}}

{{#Surface id = "m5" origin="[0,0]" align="[0,0.8]" translate="[0,0,-1]" size="[undefined,90]" class="sidebar m5"}}
<img src="entertainment.png" width="190px">
{{/Surface}}


</Template>