/* CSS declarations go here */
flatui-turquoise = #1abc9c
flatui-greensea = #16a085
flatui-emerald = #2ecc71
flatui-nephritis = #27ae60
flatui-peterriver = #3498db
flatui-belizehole = #2980b9
flatui-amethyst = #9b59b6
flatui-wisteria = #8e44ad
flatui-wetasphalt = #34495e
flatui-midnightblue = #2c3e50
flatui-sunflower = #f1c40f
flatui-orange = #f39c12
flatui-carrot = #e67e22
flatui-pumpkin = #d35400
flatui-alizarin = #e74c3c
flatui-pomegranate = #c0392b
flatui-clouds = #ecf0f1
flatui-silver = #bdc3c7
flatui-concrete = #95a5a6
flatui-asbestos = #7f8c8d

@import 'nib'
body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 300
  color: flatui-midnightblue
  -webkit-user-select: none
  line-height: 1.5em
  background: flatui-clouds
  .container
    width: 100%
    height: 100%
    padding: 1.5em 0.75em

    max-width: 1200px
    margin: 0 auto

.backing
  background-color darkslategrey

.header
.footer
  background-color flatui-silver
  color black
  line-height 50px
  font-size x-large
  padding-left 10px
.bg-darkgray
  background-color darkgray
.bg-red
  background-color red
.header-icon
  color: grey
  z-index: 20
  padding-left 10px
  padding-top 10px
  font-family: Fontawesome
  cursor: pointer
  font-size large
  a
    color grey
    text-decoration none
  a:hover
    color grey

.footbtn
  z-index: 20
  cursor: pointer
  font-size large
  text-align center
  line-height 30px


.taskData
  text-align:  left
  font-size: medium;
  color: white
  width: 100%
  padding-left: 5px

.task
  background-color: #ffffff
  height: 100%


.hide
  display: none
.headText
  color flatui-belizehole
  z-index: 20
  font-size x-large
  text-align center
  line-height 50px


.headerData
  border: solid 2px black
  background-color flatui-peterriver


.headArrows
  color #0000ff
  z-index: 20
  font-size x-large
  text-align center
  line-height 50px
  cursor: pointer

.sidebar
  text-align center
  padding-top 10px
  cursor: pointer

.sidebarback
  background-color flatui-peterriver
  border-radius 10px
  border solid grey 2px
