<Template name="footerContent">

<!-- this is really acting like our footer backing surface because it fills the entire
     footer view. We just add a little content and background color.
-->
    {{#Surface id="footerS" class="footer"}}
    Footer
    {{/Surface}}
<!-- Our 'home' button that is initially rendered hidden (display: none) using our 'hide' class-->
    {{#Surface id="b1"  class="btn btn-primary footbtn hide" translate="[0,0,10]" size="[80,40]" origin="[0,0]" align="[.7,.1]"}}
    Home
    {{/Surface}}




</Template>