<Template name="headerContent">
{{#Surface id="hback" size="[undefined,undefined]" class="header"}}{{/Surface}}


{{#Surface id="headl" size="[100,50]" origin="[0,.5]" align="[0,.5]" translate="[0,0,10]"  class="header-icon"}}
    <i class='fa fa-bars fa-2x'></i>
{{/Surface}}

{{#Surface id="headt" size="[100,50]" origin="[.5,.5]" align="[.5,.5]" class="headText" }}
Page1
{{/Surface}}

{{#Surface id="headr" origin="[.5,.5]" size="[50,50]" align="[.72,.5]" class="header" }}
<em>Welcome</em>
{{/Surface}}

</Template>